<template lang="">
  <q-page class="q-pa-lg" style="background: linear-gradient(#8274c5, #5a4a9f)">
    <q-header elevated>
      <q-toolbar>
        <q-avatar>
          <img src="https://cdn.quasar.dev/logo-v2/svg/logo-mono-white.svg" />
        </q-avatar>

        <q-toolbar-title>Siriano Shop</q-toolbar-title>
        <q-btn
          unelevated
          style="height: 20px"
          color="purple-9"
          class="text-white q-mr-md"
          label="Home"
          to="/home"
        />
        <q-btn
          unelevated
          style="height: 20px"
          color="purple-9"
          class="text-white"
          label="Logout"
          @click="Logout"
        />
      </q-toolbar>
    </q-header>

    <div class="row">
      <productcard
        v-for="(product, index) in product"
        :key="product.id"
        :product="product"
        :display="display"
        title="Remove"
        v-on:view-product="RemoveCartItem($event)"
      />
    </div>
    <div>
      <h3>Price : {{ totalPrice() }}$</h3>
      <q-btn
        unelevated
        style="height: 20px"
        color="purple-9"
        class="text-white"
        label="Order"
        @click="EmailOrder(), SmsOrder()"
      />
    </div>
  </q-page>
</template>
<script>
import productcard from "../../components/ProductCard.vue";
import axios from "axios";
export default {
  name: "Cart",
  components: {
    productcard,
  },

  data() {
    return {
      product: [],
      price: null,
      display: true,
      id: null,
      item: null
    };
  },

  methods: {
    totalPrice() {
      let c = 0;
      for (let i of this.product) {
        c += i.price;
        console.log(c);
      }
      return c;
    },

    RemoveCartItem(item) {
      this.item = item;
      const id = this.item._id
      console.log(id)
      const user = localStorage.getItem("user");
      axios.post(`https://nest-backend.testing.aadeola.com/user/rmdcart/${user}/${id}`).then((response)=>{
          console.log(response)
      })
      console.log(this.item._id);
      location.reload()
    },

    EmailOrder(){
      const user = localStorage.getItem("user");
      axios.post(`https://nest-backend.testing.aadeola.com/user/email/${user}`).then((response)=>{
        console.log(response)
      })

    },

    SmsOrder(){
      const user = localStorage.getItem("user");
      axios.post(`https://nest-backend.testing.aadeola.com/number/email/${user}`).then((response)=>{
        console.log(response)
      })

    },

    Logout(){
        localStorage.clear()
        this.$router.push('/')
       
    },

  },

  created() {
    try {
      const id = localStorage.getItem("user");
      axios
        .get(`https://nest-backend.testing.aadeola.com/user/usercart/${id}`)
        .then((response) => {
          //   console.log(response.data);
          this.product = response.data;
        });
    } catch (error) {}
  },
};
</script>
<style lang=""></style>
