<template lang="">
  <q-page class="q-pa-lg" style="background: linear-gradient(#8274c5, #5a4a9f)">
    <q-header elevated>
      <q-toolbar>
        
        <q-avatar>
          <img src="https://cdn.quasar.dev/logo-v2/svg/logo-mono-white.svg" />
        </q-avatar>

        <q-toolbar-title>Siriano Shop</q-toolbar-title>

        
        <q-btn
              unelevated
              style="height:20px "
              color="purple-9"
              class=" text-white q-mr-md"
              label="Cart"
              to="/cart"
              
              
            />
        <q-btn
              unelevated
              style="height:20px"
              color="purple-9"
              class=" text-white"
              label="Logout"
              @click='Logout'
              
              
            />

      </q-toolbar>
    </q-header>

    <div>
      <productdescription
        :item="item"
        :active="active.product_drawer"
        v-on:close-product-drawer="closeProductDrawer()"
        v-on:AddtoCart="AddtoCart()"
        
      />
      <productcard
        v-for="(product, index) in product"
        :key="product.id"
        :product="product"
        v-on:view-product="viewProduct($event)"
        title="View Product"
      />
    </div>
  </q-page>
</template>
<script>
import product from "../../data/product";
import productcard from "../../components/ProductCard.vue";
import productdescription from "../../components/ProductDescription.vue";
import axios from "axios";
export default {
  name: "Home",
  components: {
    productcard,
    productdescription,
  },

  data() {
    return {
      product: [],
      item: null,
      active: {
        product_drawer: false,
      },
      
    };
  },

  methods: {
    viewProduct(item) {
      this.item = item;
      this.active.product_drawer = true;
      console.log(this.item._id);
    },

    closeProductDrawer() {
      this.active.product_drawer = false;
    },

    Logout(){
        localStorage.clear()
        this.$router.push('/')
       
    },

    AddtoCart(){
        const id = localStorage.getItem('user')
        console.log(id)
        const cart = this.item._id
        axios.post(`https://nest-backend.testing.aadeola.com/user/cart/${id}/${cart}`).then((response)=>{
            console.log(response)
        })

    }
  },
  created() {
    axios.get("https://nest-backend.testing.aadeola.com/products").then((response) => {
      console.log(response.data.products);
      this.product = response.data.products;
    });

    // if(localStorage.getItem(token) === undefined){
    //         this.$router.push('')
    //     }
  },

  
};
</script>
<style lang=""></style>
