<template lang="">
  <div class="q-pa-md column items-center justify-center q-gutter-md">
    <q-card class="my-card items-center column">
      <q-img :src="product.image_urls" :ratio="10 / 9">
        <div class="absolute-bottom">
          <div class="text-h6">{{ product.product_title }}</div>
          <div class="text-subtitle2">Price: {{ product.price }}$</div>
        </div>
      </q-img>

      <q-card-actions>
        <q-btn flat @click="$emit('view-product', product)">{{title}}</q-btn>
      </q-card-actions>
    </q-card>
  </div>
</template>
<script>
export default {
  name: "productcard",
  props:['product','title']

};
</script>
<style lang="sass" scoped>
.my-card
  width: 100%
  max-width: 450px
</style>
