<template>
  <div class="drawer" :class="{ show: active }">
    <div class="drawer-close q-mt-lg" @click="$emit('close-product-drawer')">X</div>

    <q-page-container v-if="item" class="product-details q-pr-lg">
      <!-- <div class="cart-total" v-if="product_total">
        <h3>In Cart</h3>
        <h4>{{ product_total }}</h4>
      </div> -->

      <q-card class="my-card items-center column q-pb-lg">
        <q-img :src="item.image_urls" :ratio="10 / 9">
          <div class="absolute-bottom">
            <div class="text-h6">{{ item.product_title }}</div>
            <div class="text-subtitle2">Price: {{ item.price }}$</div>
          </div>
        </q-img>
        <div class=" q-pt-lg justify-between">
          <q-btn class="remove" @click="removeFromCart()">Remove</q-btn>
          <q-btn class="add" @click="$emit('AddtoCart')">Add</q-btn>
        </div>
      </q-card>
    </q-page-container>
  </div>
</template>

<script>
export default {
  name: "productdescription",
  props: ["item", "active"],
  methods: {
    addToCart(product) {
        console.log("Add to cart", product)
      ;
    },
    removeFromCart() {
      this.$store.commit("removeFromCart", this.product);
    },
  },
  computed: {
    product_total() {
      return this.$store.getters.productQuantity(this.product);
    },
  },
};
</script>

<style scoped>
.drawer-background {
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(124, 124, 124, 0.55);
  z-index: 100;
  display: none;
  transition: display 0.5s;
}
.drawer-background.show {
  display: block;
}
.drawer {
  width: 95vw;
  height: 100vh;
  background-color: white;
  position: fixed;
  top: 0;
  left: -105vw;
  padding: 15px;
  transition: left 0.5s;
  z-index: 101;
  overflow-y: scroll;
}
.drawer.show {
  left: 0;
}
.drawer-close {
  font-size:  1.5rem;
  padding: 5px;
  border-radius: 15px;
  right: 1px;
  
  color: gray;
  
  float: right;
  cursor: pointer;
  
}
.drawer-close:hover {
  background-color: lightgray;
}
.product-details {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
p.description {
  padding: 20px;
  line-height: 1.5rem;
}

@media (min-width: 500px) {
  .drawer {
    width: 450px;
  }
}
</style>
