<template lang="">
  <q-layout
    view="lHh lpr lFf"
    container
    style="height: 50px"
    class="shadow-2 rounded-borders"
  >
    <q-header elevated class="bg-black row">
      <q-toolbar inset>
        <q-toolbar-title> <strong>Home</strong> Page </q-toolbar-title>
        <q-toolbar-title> <strong>Cart</strong> </q-toolbar-title>
      </q-toolbar>
    </q-header>
    <q-page-container>
      <router-view/>
    </q-page-container>
  </q-layout>
</template>
<script>
export default {
  name: "HomeCart",
};
</script>
<style lang=""></style>
