<template>
    <q-layout view= "hHr LpR lFF">
        <q-page-container>
            <router-view></router-view>
        </q-page-container>
    </q-layout>
    
</template>

<script>
export default {
    name: 'LoginRegisLayout'
    
}
</script>

<style lang="sass" scoped>

</style>