<template lang="">
  <q-page
    class="window-height window-width row justify-center items-center"
    style="background: linear-gradient(#8274c5, #5a4a9f)"
  >
  </q-page>
</template>
<script>
export default {
  name: "AddProduct",
  
};
</script>
<style lang=""></style>
