<template>
  <q-page
    class="window-height window-width row justify-center items-center"
    style="background: linear-gradient(#8274c5, #5a4a9f)"
  >
    <div class="">
      <div class="">
        <q-card square class="shadow-24" style="width: 300px; height: 485px">
          <q-card-section class="bg-deep-purple-7 text-center">
            <h4 class="text-h5 text-white q-my-md">Welcome</h4>
          </q-card-section>
          <q-card-section>
            <q-form class="q-px-sm q-pt-xl">
              <q-input
                autofocus
                square
                clearable
                v-model="email"
                type="email"
                label="Email"
                :rules="[
                  (val) => (val && val.length > 0) || 'Please type something',
                ]"
              >
                <template v-slot:prepend>
                  <q-icon name="email" />
                </template>
              </q-input>
              <q-input
                square
                clearable
                v-model="password"
                type="password"
                label="Password"
                :rules="[
                  (val) => (val && val.length > 0) || 'Please type something',
                ]"
              >
                <template v-slot:prepend>
                  <q-icon name="lock" />
                </template>
              </q-input>
            </q-form>
          </q-card-section>
          <q-card-actions class="q-px-lg">
            <q-btn
              unelevated
              style="height: 20px"
              color="purple-4"
              class="full-width text-white"
              label="Sign In"
              @click="Signin"
            />
          </q-card-actions>
          <q-card-actions class="q-px-lg">
            <q-btn
              unelevated
              style="height: 20px"
              color="purple-9"
              class="full-width text-white"
              label="Register"
              to="/auth/register"
            />
          </q-card-actions>

          <q-card-section class="text-center q-pa-sm">
            <p v-show="display" class="text-red-6">Invalid login or Password</p>
          </q-card-section>
        </q-card>
      </div>
    </div>
  </q-page>
</template>

<script>
import axios from "axios";
import { required, email } from "@vuelidate/validators";
export default {
  name: "Login",
  data() {
    return {
      email: "",
      password: "",
      display: false,
      showPassword: false,
    };
  },

  validations: {
    email: { required, email },
    password: { required },
  },

  methods: {
    Signin() {
      const user = {
        email: this.email.toLowerCase(),
        password: this.password,
      };

      axios
        .post("https://nest-backend.testing.aadeola.com/user/signin", user)
        .then((response) => {
          if (response.status === 201) {
            this.display = false;
            let accessToken = response.data[0].accessToken;
            localStorage.setItem("token", accessToken);
            localStorage.setItem("user", response.data[0].id);
            this.$router.push("/home");
          } else {
            this.display = true;
          }

          // if (response.status.code === 401) {
          //   this.display = true;
          // }
        })
        .catch((error) => {
          console.log(error);
          this.display = true;
        });
    },

    registerEmail() {},
  },
};
</script>

<style></style>
