<template>
  <q-page
    class="window-height window-width row justify-center items-center"
    style="background: linear-gradient(#8274c5, #5a4a9f)"
  >
    <div class=" ">
      <div class="">
        <q-card square class="shadow-24" style="width: 300px; height: 620px">
          <q-card-section class="bg-deep-purple-7 text-center">
            <h4 class="text-h5 text-white q-my-md">Registration</h4>
          </q-card-section>
          <q-card-section>
            <q-form class="q-px-sm">
              <q-input
                square
                clearable
                v-model="fullname"
                type="name"
                label="Full Name"
                :rules="[ val => val && val.length > 0 || 'Please type something']"
              >
                <template v-slot:prepend>
                  <q-icon name="person" />
                </template>
              </q-input>
              <q-input
                square
                clearable
                v-model="address"
                type="address"
                label="Address"
                :rules="[ val => val && val.length > 0 || 'Please type something']"
              >
                <template v-slot:prepend>
                  <q-icon name="home" />
                </template>
              </q-input>
              <q-input
                square
                clearable
                v-model="phone_number"
                :type="number"
                label="Phone Number"
                :rules="[ val => val && val.length > 0 || 'Please type something']"
              >
                <template v-slot:prepend>
                  <q-icon name="call" />
                </template>
              </q-input>
              <q-input
                square
                clearable
                v-model="email"
                type="email"
                label="Email"
                :rules="[ val => val && val.length > 0 || 'Please type something']"
              >
                <template v-slot:prepend>
                  <q-icon name="email" />
                </template>
              </q-input>

              <q-input
                square
                clearable
                v-model="password"
                type="password"
                label="Password"
                :rules="[ val => val && val.length > 0 || 'Please type something']"
              >
                <template v-slot:prepend>
                  <q-icon name="lock" />
                </template>
              </q-input>
            </q-form>
          </q-card-section>
          <q-card-actions class="q-px-lg q-pb-lg" style="height: 20px">
            <q-btn
              unelevated
              color="purple-4"
              class="full-width text-white"
              label="Get Started"
              @click="signUp"
            />
          </q-card-actions>
          <q-card-actions class="q-px-lg q-pt-lg" style="height: 20px">
            <q-btn
              unelevated
              color="purple-9"
              class="full-width text-white"
              label="Return to login"
              to="/"
            />
          </q-card-actions>
        </q-card>
      </div>
    </div>
  </q-page>
</template>

<script>
import axios from 'axios';
export default {
  name: "Login",
  data() {
    return {
      email: "",
      fullname: "",
      password: "",
      address: "",
      phone_number: "",
    };
  },

  methods: {
    backToLogin() {
      to: "/auth/login";
    },
    signUp(event){
      const user = {
        email: this.email.toLowerCase(),
        fullname: this.fullname.toLowerCase(),
        address: this.address.toLowerCase(),
        phone_number: this.phone_number,
        password: this.password,
      };

    axios.post("https://nest-backend.testing.aadeola.com/user/signup", user).then((response)=>{
      if(response.status === 201){
        console.log(response)
        this.$router.push('/')
      }
      
    })

    }

  },
};
</script>

<style></style>
